{% extends 'base.html' %}

{% block title %} Home || {{ block.super }} {% endblock title %}


{% block content %}

    <div class="bg-info py-5 text-center">
	    <div class="container">
		    <h1 class="page-heading single-col-max mx-auto">Zero Django Project</h1>
		    <div class="page-intro single-col-max mx-auto">Everything you need to get this documentation.</div>
            <div class="main-search-box pt-3 d-block mx-auto">
                 <form class="search-form w-100">
		            <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control form-control-lg" id="inlineFormInputGroup" placeholder="Search">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                        </div>
                    </div>
                 </form>
             </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <span class="theme-icon-holder card-icon-holder mr-2">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                            <span class="card-title-text">Installation</span>
                        </h5>
                        <div class="card-text">
                            Section overview goes here. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </div>
                        <a class="card-link-mask" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}