{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zero Project</title>
    <!-- Include all css file -->
    {% include 'base/css.html' %}
</head>

<body>

    <!----- Header or nav ------>
    {% include 'base/nav.html' %}

    <div class='container-fluid p-0'>
        {% if messages %}
            <div class="alert alert-success messages alert-dismissable text-center">
                {% for message in messages %}
                    <button type="button" {% if message.tags %} class="{{ message.tags }} close"{% endif %} data-dismiss="alert" aria-hidden="true">
                        &times;
                    </button>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}<br/>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Body Content -->
    {% block content %}



    {% endblock %}
    <!--- End Body Content -->



    {% include 'base/footer.html' %}
    <!-- Include js library --->
    {% include 'base/js.html' %}

</body>

</html>